{% extends "layout.html" %}
{% block body %}

      <div class="hero-unit">
        <h1>The Sample Registrar</h1>
		  <p>This is samplereg, a simple web application for registering
        sampling kits for citizen science projects. If you want to
        submit samples to the project, you will need one or more
        official sampling kits with registration codes.</p>
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a>
			 


{% if not username %}
      <form class="well form-search" action="/login" method="post">
        <h2>Please sign in</h2>
        <input type="text" placeholder="username" name="username">
        <input type="password" placeholder="Password" name="password">
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
		<a class="btn btn-large btn-success" href="/signup">Sign up</a><br/>
        <label class="checkbox">
        <input type="checkbox" value="remember-me"> Remember me
        </label>
      </form>
{% else %}
		  <a class="btn btn-large btn-primary" href="/logout">logout</a>
		  <a class="btn btn-large btn-primary" href="/register">Register sample</a>
{% endif %}

      </p>
      </div>

{% endblock %}
