<!doctype html>
<title>samplereg : a basic sample registration tool</title>

<h1>Welcome to samplereg</h1>

This is samplereg, a simple web application for registering sampling
kis for citizen science projects.

<p>

{% if username %}
    <b>Hello {{ username }}!</b><br />
    <a href="/logout">Log out</a><br />
    <a href="/user/{{ username }}">Visit your profile</a><br />
    <a href="/register">Register a sample</a>
{% else %}
    <a href="/signup">Sign up</a><br />
    <a href="/login">Log in</a><br />
{% endif %}

