{% extends "layout.html" %}
{% block body %}

<img class="img-circle" src="{{ url_for('static', filename=user.thumb)}}">

{% if authenticated %}
    <h1>Welcome to your profile page, {{ user.realname }}!</h1>
{% else %}
    <h1>This is the profile page for {{ user.realname }}</h1>
{% endif %}

{% for r in records %}
    {{ r.identifier }}, {{ r.name }}
        {% if r.audited %}
            (audited) : 
        {% else %}
            (unaudited) : 
        {% endif %}
    {{ r.description }} <br \>
{% endfor %}

<p>

{% if authenticated %}
    <a class="btn-large btn-success" href='/register'>Register a new sample</a>
{% endif %}

{% endblock %}
