{% extends "layout.html" %}
{% block body %}

<style type="text/css">
    #mid { position:absolute; top:50%; }
</style>

{% if authenticated %}
    <h1>Welcome to your profile page, {{ user.realname }}!</h1>
{% else %}
    <h1>This is the profile page for {{ user.realname }}</h1>
{% endif %}

<img class="img-circle" src="{{ url_for('static', filename=user.thumb)}}">

{% if authenticated %}
    <a class="btn-large btn-success" href='/register'>Register a new sample</a>
{% endif %}

<p/>
<table class="table table-bordered table-striped table-hover"><body>
<thead>
<strong>
<tr style="font-weight:bold"><td>Context</td><td>Identifier</td><td>Name</td><td>Status</td><td>description</td></tr>
</strong>
</thead>
<tbody>
{% for r in records %}
    <tr>
    <td>
    <img class="img-polaroid" src="{{ url_for('static', filename=r.thumb)}}">
    </td>
    <td style="padding-top:3.5em;">{{ r.identifier }}</td>
    <td style="padding-top:3.5em;">{{ r.name }}</td>
    <td style="padding-top:3.5em;">{% if r.audited %}Audited{% else %}Not audited{% endif %}</td>
    <td style="padding-top:3.5em;">{{ r.description }}</td>
    </tr>
{% endfor %}
</tbody></table>

{% endblock %}
