{% extends "layout.html" %}
{% block body %}

<h1>Create a new user</h1>

<form action="/signup" method="post" enctype="multipart/form-data">
username : <input type="text" name="username" size="15"></input><br />
password :<input type="password" name="password" size="15"></input><br />
password (again) : <input type="password" name="password_check" size="15"></input><br />
real name : <input type="text" name="realname" size="15"></input><br />
city : <input type="text" name="city" size="15"></input><br />
state : <input type="text" name="state" size="15"></input><br />
country : <input type="text" name="country" size="15"></input><br />
team name : <input type="text" name="team" size="15"></input><br />
your avatar : <input type="file" name="avatar">
<input type="submit" value="Signup"></input>
</form> 

{% endblock %}
